<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Peter Batchelor -- {{ page.title }}</title>
  <link href="{{ site.baseurl }}/assets/css/peteStyles.css" rel="stylesheet" type="text/css" />
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="author" content="Peter Batchelor" />
  <meta name="Description" content="Peter Batchelor (Composer/Sound Designer)" />
</head>

<body>

<div id="batchelor">
  <h1>Peter Batchelor: composer, sound designer</h1>
</div>

<div class="banner-container">
  <div class="vertical-text">peter batchelor</div>
</div>

<div id="nav"> 
  <a href="{{ site.baseurl }}/index.html">NEWS</a> &bull; 
  
  <span class="dropdown">
    <a href="{{ site.baseurl }}/bio.html">PROFILE</a>
    <div class="dropdown-content">
      <a href="{{ site.baseurl }}/bio.html">bio</a>
      <a href="{{ site.baseurl }}/recognition.html">recognition</a>
    </div>
  </span> &bull; 

  <span class="dropdown">
    <a href="{{ site.baseurl }}/installations.html">PROJECTS</a>
    <div class="dropdown-content">
      <a href="{{ site.baseurl }}/installations.html">installations</a>
      <a href="{{ site.baseurl }}/compositions.html">compositions</a>
    </div>
  </span> &bull; 

  <a href="{{ site.baseurl }}/words.html">WORDS</a> &bull; 
  <a href="{{ site.baseurl }}/software.html">SOFTWARE</a> &bull; 
  <a href="{{ site.baseurl }}/tutorials.html">TUTORIALS</a> &bull; 
  <a href="{{ site.baseurl }}/contact.html">CONTACT</a> 
</div>

<div id="contents"> 
  {{ content }}
</div>

</body>
</html>